<div class="row" id="signin_page">

	<div class="col-md-12">
		<article class="center-block">
			<form action="/session/create" method="POST" class="form-signin">
				<h2>Sign in please....</h2>

				<% if(flash && flash.err) { %>
					<ul class="alert alert-danger">
				<% Object.keys(flash.err).forEach(function(error) { %>
					    <li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
					</ul>
				<% } %>

				<div class="input-form">
					<input type="email" class="form-control" placeholder="E-mail address" name="email">
				</div>

				<div class="input-form">
					<input type="password" class="form-control" placeholder="Password" name="password">
				</div>

				<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
			</form>
		</article>
	</div>	
</div>