      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <footer class="footer pull-right">
          <div>          
            <div><a href="http://sailsjs.com" target="_blank">SailsJS</a> | Tutorials application</div>
          </div>
        </footer>
      </div>      
