      <div class="wrapper">
        <div class="notifications_wrapper">
          <div id="before_notifications"></div>
        </div>
        <div class="wrapper_page">
        	<%- body %>      	
        </div>
      </div>
