<div class="row" id="category_page">

	<div class="col-md-8">
		<article>
			<form action="/category/create" method="POST" class="form-signin" id="new-category-form">
				<h2 class="form-sigin-heading">Create an category</h2>

				<% if(flash && flash.err) { %>
					<ul class="alert alert-danger">
				<% Object.keys(flash.err).forEach(function(error) { %>
					    <li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
					</ul>
				<% } %>
				<div class="input-form">
					<input type="text" class="form-control" placeholder="Category title" name="title">
				</div>
				<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create category">
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
			</form>
		</article>
	</div>	

	<div class="col-md-4">
		<aside>
			<h2>Add a new category</h2>
			<p>New user</p>
		</aside>
	</div>

</div>