<div class="row" id="category_page">

	<div class="col-md-8">
		<article id="profile-page">
			<h1>Category</h1>
			<hr />
			<div class="form_buttons">
				<a href="/category/edit/<%= category.id %>" class="btn btn-sm btn-default">Edit</a> <a href="/category/new/" class="btn btn-sm btn-success">Create new category</a>
			</div>
			<p>
				<strong>Category title: </strong><%= category.title %>
			</p>
		</article>
	</div>	

	<div class="col-md-4">
		<aside>
			<h2>Sidebar</h2>
			<p>Show user info</p>
		</aside>
	</div>

</div>