<div class="row">

	<div class="col-md-8">
		<article id="profile-page">
			<h1>Category</h1>
			<hr />
			<h2><%= category.title %></h2>
			<a href="/user/edit/<%= category.id %>" class="btn btn-medium btn-primary">Edit</a>
		</article>
	</div>	

	<div class="col-md-4">
		<aside>
			<h2>Sidebar</h2>
			<p>Show user info</p>
		</aside>
	</div>

</div>