/* Custom styles */
// Global Mixins
@import "mixins/_mixins";


/* Variable */
$white : #fff;
$black : #000;
$red : red;
$green : green;

/* Icons from WeLoveIconsFonts.com */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="entypo-"].red {
	color: $red;
}

[class*="entypo-"].green {
	color: $green;
}

body {
	padding: 72px 0;
}

.jumbotron {
	text-align: center;
}

.input-group,
.form-control {
	margin-bottom: 16px;
}

.input-form {
	label {
		width: 100%;
		display: block;
		position: relative;
		float: left;
	}
}

#profile-page {
	.profile-pic {
		position: relative;
		float: right;
		margin: 0 0 10px 10px;
	}
}
#signin_page {
	.center-block {
		max-width: 33.33%;
	}
}
.table {
	.profile-pic {
		width: 25px; height: 25px;
		overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	form {
		display: inline-block;
	}
}

#category_page {
	.form_buttons {
		margin-bottom: 16px;
	}
}

footer {
	div {
		padding: 5px;
	}
	* {
		color: $white;
	}
}

#table_user_status {
	span {
		@include css3(transtion, 0.5s ease);
	}
}